/bin/
*.orig
*.project
*.classpath
*.csv
**/.settings/**
**/test-output/**
**/target/**
/target/
*.xlsx
description
HEAD
info/exclude
*.json
*.Json
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/dfw.web2tv.discovery.iml
